/* ------------------
 styling for the tables 
   ------------------   */


body
{
    line-height: 1.6em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 25px;
}

#filter
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#filter th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
#filter td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}
.oce-first
{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
#filter tr:hover td
{
    color: #339;
    background: #eff2ff;
}

ul#menu {
    align-content: center;
    font-size: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #e67300;
    background-color: #404040;
    overflow: hidden;
    display:inline-block;
}

ul#menu li{
    float: left;
    padding: 20px;
}

ul#menu li:hover, ul#menu li.selected {
    
    color: #b3b3b3;
    cursor: pointer;
}

#resDiv{
    align-content: center;
    position: absolute;
    top: 90px;
    left: 40%;
    width: 850px;
    height:530px;
}

ul#search{

    list-style: none;
    margin: 0;
    padding: 0;
    background-color: ;
    overflow: hidden;
    display:inline-block;

}

ul#search li{
    float: left;
    padding: 20px;
}

