body{
    background-color: #3399ff;
}

ul#menu {
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #e67300;
    background-color: #404040;
    overflow: hidden;
    display:inline-block;
}

ul#menu li{
    float: left;
    padding: 20px;
}

ul#menu li:hover, ul#menu li.selected {
    
    color: #b3b3b3;
    cursor: pointer;
}

#resDiv{
    align-content: center;
    position: absolute;
    top: 90px;
    left: 40%;
    width: 850px;
    height:530px;
}

ul#search{

    list-style: none;
    margin: 0;
    padding: 0;
    background-color: ;
    overflow: hidden;
    display:inline-block;

}

ul#search li{
    float: left;
    padding: 20px;
}

table, td,th {
    border: 1px solid #404040;
}
.thFilter  {

    background-color: #99c2ff;
    color: white;

}
